.thumbnail-container {
    display: flex;
    overflow-x: auto;
    gap: 5px;
    padding: 10px 0;
  }
  
  .thumbnail {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
  }
  
  .thumbnail:focus {
    outline: 2px solid blue; /* Highlight focus */
  }
  
  .thumbnail:hover {
    opacity: 0.8; /* Slight fade effect on hover */
  }
  
  .modal {
    width: auto; /* Default width */
  }
  
  @media (max-width: 1024px) {
    .modal {
      width: 700px; /* Tablet and below */
    }
  }
  
  @media (max-width: 768px) {
    .modal {
      width: 750px; /* Phone and below */
    }
  }